<section class="form-section">
  <div class="text">
    <h3>
      Fique por dentro de tendências
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rem veritatis adipisci perferendis magnam asperiores a mollitia corrupti, maiores consequatur ipsa recusandae alias excepturi, modi in minus autem quis fuga?Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rem veritatis adipisci perferendis asperiores mollitia corrupti, maiores consequatur ipsa recusandae alias excepturi, modi in minus autem quis fuga</p>
  </div>
<form>
  <label for="name">Name</label>
  <input id="name"/>

  <label for="email">Email</label>
  <input id="email"/>

  <btn-primary btn-text="Se inscreva" variant="secondary"></btn-primary>
</form>
</section>
